# Ignore Python cache files
__pycache__/
*.py[cod]
*.sqlite3

# Ignore environment files
.env
venv/
env/

# Ignore VSCode and IDE settings
.vscode/
.idea/

# Ignore Django migration logs
*.log
db.sqlite3

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Compiled static files
staticfiles/
