Django
python-decouple
sqlparse
tzdata          # If deploying on Render/Heroku
whitenoise            # For static file serving in production
psycopg2             # If you're using PostgreSQL
dj-database-url       # Helpful in deployment
python-dotenv



